html,
body {
    height: 100%;
    margin-top: 0px;
}

#wrap {
    min-height: 100%;
    height: auto !important ;
    height: 100%;
    margin: 0 auto -10px;
    padding: 0 0 10px;
    width: 100%;
    /*position: absolute;*/
    top: 0px;
    left: 0;
}

#wrap > .container {
    padding: 60px 15px;
}

.navbar {
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-right {
    padding-right: 20px;
    padding-left: 5px;
}

#footer {
    height: 60px;
    text-align-all: center;
    bottom: 0;
    width:100%;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.container .credit {
    margin: 20px 0;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.hidden-xs .jumbotron {
    margin: 28px 0;
}

.visible-xs .jumbotron {
    margin: 20px 0;
}

.jumbotron h1 {
    line-height: 1;
}

.hidden-xs .jumbotron .hidden-sm h1 {
    font-size: 100px;
}

.hidden-xs .jumbotron .visible-sm h1 {
    font-size: 80px;
}

.visible-xs .jumbotron h1 {
    font-size: 60px;
}

.jumbotron .lead {
    line-height: 1.25;
}

.hidden-xs .jumbotron .lead {
    font-size: 24px;
}

.visible-xs .jumbotron .lead {
    font-size: 20px;
}

.hidden-xs .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.visible-xs .jumbotron .btn {
    font-size: 20px;
    padding: 12px 18px;
}

.comment-box {
    resize: none;
}

.comment-button {
    margin-top:15px;
    margin-bottom:10px;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
#main-wrapper {
    height: 100%;
    /*overflow-y: auto;*/
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    /*overflow-y: auto;*/
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 0px;
}
.sidebar {
    /*position: relative;*/
    height: 100%;
    margin-top: 60px;
    /*overflow-y: auto;*/
}
.sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }
    .sidebar{
        margin-top: 0px;
    }
}
@media (min-width: 768px) {
    #main-wrapper {
        float:right;
    }
    .sidebar{
        margin-top: 0px;
    }
}
@media (max-width: 768px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 768px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
        border-right:0;
    }
}

.wrapper, .row {
    height: 100%;
    margin-left:0;
    margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
    bottom: 10px; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: transparent;
    /*
      background-image:url('/assets/example/bg_suburb.jpg');
      background-size:cover;
      background-attachment:fixed;
    */
}

.sidebar, .sidebar a{
    color:#000000;
    background-color:transparent;
    /*text-shadow:0 0 2px #000000;*/
    padding-left:5px;
}
.sidebar .nav li>a:hover {
    background-color:#393939;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

    .column .padding {
        padding: 7px;
    }
}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }

    .row-offcanvas-right.active {
        right: 33%;
    }

    .row-offcanvas-right.active .sidebar-offcanvas {
        right: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-right: 5px;
    }

    .sidebar, .sidebar a{
        padding-left:3px;
    }
}

.flag {
    width: 16px;
    height: 16px;
    background:url(flags.png) no-repeat
}

.flag.flag-al {background-position: -16px 0}
.flag.flag-gb {background-position: 0 -16px}
